<div ng-controller="EmploymentandincomeController">
    <div class="tab-pane"  id="employmentandincome{{$index}}">
        <h3>
            <img style="padding-right:5px;" src="images/ic-Employment-Income.png">Employment &amp; Income
        </h3>

        <section>
            <section class="panel-body">
                <ul class="nav nav-tabs">
                    <li ng-class="{true:'active', false:''}[$index === activeTab]" ng-repeat="applicant in customers.applicants" >
                        <a ng-click="setActiveTabValue($index);employpanel1();"> {{applicant.forename}}</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane" ng-class="{true:'active', false:''}[$index === activeTab]" ng-repeat="applicant in customers.applicants">
                        <div class="tab-pane-border que-for"  >
                            <div class="tab-pane">
                                <ul id="fact-form-breadcrumb">
                                    <li>
                                        <a ng-class="{active:employpanel1selected}" href="javascript:;" ng-click="employpanel1()">Employment</a>
                                    </li>
                                    <li>
                                        <a  ng-class="{active:employincomepanel1selected}" href="javascript:;" ng-click="employincomepanel1()">Income Employed    </a>
                                    </li>
                                    <li>
                                        <a ng-class="{active:addincomepanel1selected}" href="javascript:;" ng-click="addincomepanel1()">Additional Income </a>
                                    </li>
                                    <li>
                                        <a ng-class="{active:benefitspanel1selected}" href="javascript:;" ng-click="benefitspanel1()">Benefits</a>
                                    </li>
                                </ul>
                                <div ng-show="employheaders1">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <span class="step-heading ">Employment</span>
                                        </div>
                                    </div>
                                    <form class="form-horizontal" name="addemploydetails1" ng-submit="emp_header1(applicant.emploment, $index);">
                                        <div class="col-sm-6">
                                            <div class="form-group question" id="t22"  data-title="Employment Type" >
                                                <label   >Employment Type</label>
                                                <div >
                                                    <span class="checkboxes">
                                                        <select class="form-control"  ng-model="applicant.emploment.employement_type" name="applicant.emploment.employement_type" required ng-class="EmploymentType">
                                                            <option value="">Please Select</option>
                                                            <option value="2">Contractor</option>
                                                            <option value="1">Employed</option>
                                                            <option value="3">Employed in Probation</option>
                                                            <option value="5">Houseperson</option>
                                                            <option value="6">Retired</option>
                                                            <option value="4">Self-Employed</option>
                                                        </select>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group question" id="t21"  data-title="Employment Status" >
                                                <label>Employment Status</label>
                                                <div>
                                                    <span class="checkboxes" ng-init="applicant.emploment.employment_status = 1">
                                                        <input type="radio" ng-model="applicant.emploment.employment_status" value="1" ng-change="change()"  > Full 

                                                        <input type="radio" ng-model="applicant.emploment.employment_status" value="2" ng-change="change()"  > Part time

                                                    </span>
                                                </div>
                                                <div>
                                                    <!-- help text -->
                                                    <div class="helptip icon-sprite speech" id="boxt21">
                                                        <h5>Help</h5>
                                                    </div>
                                                    <!-- help text end -->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group question" id="t27"  data-title="Is Current Employment?" >
                                                <label   >Is this your current employment?</label>
                                                <div >
                                                    <span class="checkboxes">
                                                        <input type="radio" ng-model="applicant.emploment.is_current_employment" ng-value="1"> Yes 

                                                        <input type="radio"  ng-model="applicant.emploment.is_current_employment" ng-value="0"> No 

                                                    </span>
                                                </div>
                                                <!-- help text -->
                                                <div class="helptip icon-sprite speech" id="boxt27">
                                                    <h5>Help</h5>
                                                </div>
                                                <!-- help text end -->
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group question" id="t25"  data-title="How long have you been in continous employment?" >
                                                <label   >How long have you been in continous employment? [in months]</label>
                                                <div >
                                                    <span class="checkboxes">
                                                        <select class="form-control" ng-model="applicant.emploment.how_continous_employment"   ng-class="continousemployment">
                                                            <option value="">Please Select</option>
                                                            <option value="0">Less than 1</option>
                                                            <option value="1">1</option>
                                                            <option value="3">3</option>
                                                            <option value="6">6</option>
                                                            <option value="12">12</option>
                                                            <option value="18">18</option>
                                                            <option value="24">24</option>
                                                            <option value="36">36</option>
                                                            <option value="36+">99</option>
                                                        </select>
                                                    </span>
                                                </div>
                                            </div>
                                            <!-- help text -->
                                            <div class="helptip icon-sprite speech" id="boxt25" >
                                                <h5>Help</h5>
                                            </div>
                                            <!-- help text end -->
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group question" id="t23"  data-title="Start Date">
                                                <label   >Start Date [dd/mm/yyyy]</label>
                                                <div >
                                                    <span class="checkboxes">
                                                        <input   class="form-control"  type="text"   ng-model="applicant.emploment.start_date" name="StartDate" maxlength="10" ng-keyup="datekeyup($event)" onkeydown = "return DateFormat(this, event.keyCode)" required>
                                                    </span>
                                                </div>
                                                <!-- help text -->
                                                <div class="helptip icon-sprite speech" id="boxt23">
                                                    <h5>Help</h5>
                                                </div>
                                                <!-- help text end -->
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group question" id=" "  data-title="End Date">
                                                <label   >End Date [dd/mm/yyyy]- if current job, leave end date blank</label>
                                                <div >
                                                    <span class="checkboxes">
                                                        <input  class="form-control"  type="text"  ng-model="applicant.emploment.end_date">
                                                    </span>
                                                </div>
                                                <!-- help text -->
                                                <div class="helptip icon-sprite speech" id=" ">
                                                    <h5>Help</h5>
                                                </div>
                                                <!-- help text end -->
                                            </div>
                                        </div>
                                        <div class="pull-right" >
                                            <input type="button" value="&lt; BACK" ng-click="previousstep()" class="whi-btn2">
                                            <button type="submit" class="blue-btn5" >save</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="clearfix"></div>
                                <div ng-show="showincome1">
                                    <div ng-switch="applicant.emploment.employement_type == '1' || applicant.emploment.employement_type == '3'">
                                        <div ng-switch-when="true">
                                            <form class="form-horizontal" name="employincomes1">
                                                <div class="col-sm-12">
                                                    <div class="form-group"  >
                                                        <span class="step-heading step-heading-small">Income Employed 

                                                            <small style="color:red; font-size:12px; text-transform: none">[ Leave blank if not applicable ]</small>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div data-title="Annual Basic Salary " id="" class="form-group question" ng-class="{ 'has-error' : employincomes1.BasicAnnualGuaranteed.$invalid && !employincomes1.BasicAnnualGuaranteed.$pristine }">
                                                        <label >Annual Basic Salary </label>
                                                        <div >
                                                            <span class="checkboxes">
                                                                <input type="text" numbers-only class="form-control"  ng-model="applicant.emploment.income_employed.a_basic_salary" name="applicant.emploment.income_employed.a_basic_salary" required>
                                                            </span>
                                                        </div>
                                                        <!-- help text -->
                                                        <div id="" class="helptip icon-sprite speech">
                                                            <h5>Help</h5>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div data-title="Irregular Commission " id="" class="form-group question" >
                                                        <label >Irregular Commission </label>
                                                        <div >
                                                            <span class="checkboxes">
                                                                <input type="text" numbers-only class="form-control"  ng-model="applicant.emploment.income_employed.irregular_commission" name="applicant.emploment.income_employed.irregular_commission">
                                                            </span>
                                                        </div>
                                                        <!-- help text -->
                                                        <div id="" class="helptip icon-sprite speech">
                                                            <h5>Help</h5>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div data-title="Annual Guaranteed Bonus" id="" class="form-group question" >
                                                        <label >Annual Guaranteed Bonus</label>
                                                        <div >
                                                            <span class="checkboxes">
                                                                <input type="text" numbers-only class="form-control"  ng-model="applicant.emploment.income_employed.a_guaranteed_bonus" name="applicant.emploment.income_employed.a_guaranteed_bonus">
                                                            </span>
                                                        </div>
                                                        <!-- help text -->
                                                        <div id="" class="helptip icon-sprite speech">
                                                            <h5>Help</h5>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div data-title="Annual Guaranteed Overtime" id="" class="form-group question" >
                                                        <label >Annual Guaranteed Overtime</label>
                                                        <div >
                                                            <span class="checkboxes">
                                                                <input type="text" numbers-only class="form-control"  ng-model="applicant.emploment.income_employed.a_guaranteed_ot" name="applicants.emploment.income_employed.a_guaranteed_ot">
                                                            </span>
                                                        </div>
                                                        <!-- help text -->
                                                        <div id="" class="helptip icon-sprite speech">
                                                            <h5>Help</h5>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div data-title="Annual Regular Bonus/Overtime " id="" class="form-group question" >
                                                        <label >Annual Regular Bonus/Overtime </label>
                                                        <div >
                                                            <span class="checkboxes">
                                                                <input type="text" numbers-only class="form-control"  ng-model="applicant.emploment.income_employed.a_regular_bonus" name="applicants.emploment.income_employed.a_regular_bonus">
                                                            </span>
                                                        </div>
                                                        <!-- help text -->
                                                        <div id="" class="helptip icon-sprite speech">
                                                            <h5>Help</h5>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div data-title="Rental/Living Allowance" id="" class="form-group question" >
                                                        <label >Rental/Living Allowance</label>
                                                        <div >
                                                            <span class="checkboxes">
                                                                <input type="text" numbers-only class="form-control"  ng-model="applicant.emploment.income_employed.living_allowance" name="applicants.emploment.income_employed.living_allowance">
                                                            </span>
                                                        </div>
                                                        <!-- help text -->
                                                        <div id="" class="helptip icon-sprite speech">
                                                            <h5>Help</h5>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div data-title="Gross Annual Income" id="" class="form-group question"  >
                                                        <label >Gross Annual Income</label>
                                                        <div >
                                                            <span class="checkboxes">
                                                                <input type="text" class="form-control"   value="{{applicant.emploment.income_employed.living_allowance--applicant.emploment.income_employed.irregular_commission--applicant.emploment.income_employed.a_regular_bonus--applicant.emploment.income_employed.a_guaranteed_bonus--applicant.emploment.income_employed.a_guaranteed_ot--applicant.emploment.income_employed.a_basic_salary}}" readonly name="{{$index}}">
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div data-title="Total Net Monthly Income" id="" class="form-group question"  ng-class="{ 'has-error' : applicant.emploment.income_employed.net_monthly_income.$invalid && !applicant.emploment.income_employed.net_monthly_income.$pristine }" >
                                                        <label >Total Net Monthly Income</label>
                                                        <div >
                                                            <span class="checkboxes">
                                                                <input type="text" numbers-only class="form-control"  ng-model="applicant.emploment.income_employed.net_monthly_income" name="applicant.emploment.income_employed.net_monthly_income" required >
                                                            </span>
                                                        </div>
                                                        <!-- help text -->
                                                        <div id="" class="helptip icon-sprite speech">
                                                            <h5>Help</h5>
                                                        </div>
                                                        <!-- help text end -->
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="pull-right">
                                                        <input type="button" value="&lt; BACK" ng-click="employpanel1()" class="whi-btn2">
                                                        <button type="submit" class="blue-btn5"  ng-click="emp_annual(applicant.emploment.income_employed)">save</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div ng-switch="applicant.emploment.employement_type == '4' || applicant.emploment.employement_type == '2'">
                                        <div ng-switch-when="true">
                                            <form class="form-horizontal" name="selfemployment1">
                                                <div class="col-sm-12">
                                                    <div class="form-group"  >
                                                        <span class="step-heading step-heading-small">Main Employment Income (If Self Employed)</span>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div data-title="Projection For Current Year ?" id="" class="form-group question"  >
                                                        <label >Projection For Current Year ?</label>
                                                        <div >
                                                            <span class="checkboxes" >
                                                                <input type="radio"  ng-model="applicant.emploment.main_employment_income.projection" value="true" ng-change="change()"> Yes 

                                                                <input type="radio"  ng-model="applicant.emploment.main_employment_income.projection" value="false" ng-change="change()"> No 

                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div ng-switch="applicant.emploment.main_employment_income.projection">
                                                    <div ng-switch-when="true">
                                                        <div class="col-sm-6">
                                                            <div data-title="Current Year Projection " id="" class="form-group question"  >
                                                                <label >Current Year Projection </label>
                                                                <div >
                                                                    <span class="checkboxes">
                                                                        <input type="text" class="form-control" ng-model="applicant.emploment.main_employment_income.current_yr_projection" numbers-only  required>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div data-title="Accounts" id="" class="form-group question"  >
                                                        <label >Accounts</label>
                                                        <div >
                                                            <span class="checkboxes">
                                                                <select  ng-model="applicant.emploment.main_employment_income.accounts"  class="form-control" required>
                                                                    <option value="">Please Select</option>
                                                                    <option value="1">1 year</option>
                                                                    <option value="2">2 years</option>
                                                                    <option value="3">3 years</option>
                                                                    <option value="4">None</option>
                                                                </select>
                                                            </span>
                                                        </div>
                                                        <!-- help text -->
                                                        <div id="" class="helptip icon-sprite speech">
                                                            <h5>Help</h5>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div data-title="Total Net Monthly Income " id="" class="form-group question"  >
                                                        <label >Total Net Monthly Income </label>
                                                        <div >
                                                            <span class="checkboxes">
                                                                <input type="text" class="form-control" ng-model="applicant.emploment.main_employment_income.total_net_monthly_income" ng-init="applicant.emploment.main_employment_income.total_net_monthly_income = {{TotalNetMonthlyIncomeself}}" numbers-only required>
                                                            </span>
                                                        </div>
                                                        <!-- help text -->
                                                        <div id="" class="helptip icon-sprite speech">
                                                            <h5>Help</h5>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="pull-right">
                                                        <input type="button" value="&lt; BACK" ng-click="employpanel1()" class="whi-btn2">
                                                        <button type="submit" class="blue-btn5"  ng-click="emp_selfemploy(applicant.emploment.main_employment_income)">save</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="showaddincome1">
                                <div id="scrolltoid1">
                                    <div class="form-group question col-sm-12" id="t31"  data-title="Bedroom Rental " >
                                        <label   >Is there additional income?</label>
                                        <div >
                                            <span ng-init="applicant.do_you_have_additionalincome = '0'" class="checkboxes nohelp">
                                                <input type="radio" ng-model="applicant.do_you_have_additionalincome" ng-value="1" ng-change="change()"  > Yes 


                                                <input type="radio" ng-model="applicant.do_you_have_additionalincome" ng-value="0" ng-change="change()"  > No 


                                            </span>
                                        </div>
                                    </div>
                                    <div ng-show="applicant.do_you_have_additionalincome == '1'">
                                        <form class="form-horizontal" name="addincomeother1">
                                            <div class="col-sm-12">
                                                <div class="form-group" >
                                                    <span class="step-heading step-heading-small">Additional Income Details (Annual)</span>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group question" id="t30"  data-title="Pension" >
                                                    <label   >Pension</label>
                                                    <div >
                                                        <span class="checkboxes">
                                                            <input type="text" numbers-only  class="form-control" ng-model="applicant.emploment.additional_income.pension" name="applicant.emploment.additional_income.pension" >
                                                        </span>
                                                    </div>
                                                    <!-- help text -->
                                                    <div class="helptip icon-sprite speech" id="boxt30">
                                                        <h5>Help</h5>
                                                    </div>
                                                    <!-- help text end -->
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group question" id="t31"  data-title="Bedroom Rental">
                                                    <label   >Bedroom Rental </label>
                                                    <div >
                                                        <span class="checkboxes">
                                                            <input type="text" numbers-only  class="form-control" ng-model="applicant.emploment.additional_income.bedroom_rental" name="applicant.emploment.additional_income.bedroom_rental" >
                                                        </span>
                                                    </div>
                                                    <!-- help text -->
                                                    <div class="helptip icon-sprite speech" id="boxt31">
                                                        <h5>Help</h5>
                                                    </div>
                                                    <!-- help text end -->
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group question" id="t32"  data-title="Investments">
                                                    <label   >Investments</label>
                                                    <div >
                                                        <span class="checkboxes">
                                                            <input type="text" numbers-only  class="form-control" ng-model="applicant.emploment.additional_income.investments" name="applicant.emploment.additional_income.investments" >
                                                        </span>
                                                    </div>
                                                    <!-- help text -->
                                                    <div class="helptip icon-sprite speech" id="boxt32">
                                                        <h5>Help</h5>
                                                    </div>
                                                    <!-- help text end -->
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group question" id="t33"  data-title="Other">
                                                    <label   >Other </label>
                                                    <div >
                                                        <span class="checkboxes">
                                                            <input type="text" numbers-only  class="form-control" ng-model="applicant.emploment.additional_income.other" name="applicant.emploment.additional_income.other" >
                                                        </span>
                                                    </div>
                                                    <!-- help text -->
                                                    <div class="helptip icon-sprite speech" id="boxt33">
                                                        <h5>Help</h5>
                                                    </div>
                                                    <!-- help text end -->
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group question" id="t34"  data-title="Second Job">
                                                    <label   >Second Job</label>
                                                    <div >
                                                        <span class="checkboxes">
                                                            <input type="text" numbers-only  class="form-control" ng-model="applicant.emploment.additional_income.second_job" name="applicant.emploment.additional_income.second_job" >
                                                        </span>
                                                    </div>
                                                    <!-- help text -->
                                                    <div class="helptip icon-sprite speech" id="boxt34">
                                                        <h5>Help</h5>
                                                    </div>
                                                    <!-- help text end -->
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="form-group">
                                                <div class="pull-right">
                                                    <input type="button" value="&lt; BACK" ng-click="employincomepanel1()" class="whi-btn2">
                                                    <button type="submit" class="blue-btn5"  ng-click="emp_additional(applicant.emploment.additional_income)">save</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="form-group">
                                        <div class="pull-right" ng-show="applicant.do_you_have_additionalincome == '0'">
                                            <input type="button" value="&lt; BACK" ng-click="employincomepanel1()" class="whi-btn2">
                                            <button class="blue-btn5" type="button" ng-click="benefitspanel1()"> Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="showques1"> 
                        
                                <div>
                                    <!-- <div ng-include="app/views/benefits_add.html"></div> -->
                                    <div ng-repeat="benefits1 in applicant.emploment.benifits">
                                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                            <div class="panel panel-default">
                                                <div class="panel-heading" role="tab" id="headingOne">
                                                    <h4 class="panel-title">
                                                        <a role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapse{{benefits1.benefit_id}}" aria-expanded="true" aria-controls="benefits1{{benefits1.benefit_id}}">
                                                            {{getBenefitType(benefits1.benefit)}} &#47; &#163; {{benefits1.benefit_amt}} 
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapse{{benefits1.benefit_id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                                    <div class="panel-body">
                                                        <form class="form-horizontal" name="editbenefits1">
                                                            <input type="hidden" ng-model="benefits1.benefit_id" class="form-control"  >
                                                            <div id="benefits">
                                                                <div class="col-sm-6">
                                                                    <div class="form-group question" id=""  data-title="Benefit "  ng-class="{ 'has-error' : editbenefits1.benefit.$invalid && !editbenefits1.benefit.$pristine }">
                                                                        <label   >Benefit </label>
                                                                        <div >
                                                                            <span class="checkboxes">
                                                                                <select class="form-control" ng-model="benefits1.benefit" name="benefits" required>
                                                                                    <option value="">Please Select</option>
                                                                                    <option value="26">Child Benefit</option>
                                                                                    <option value="13">Child Tax Credit</option>
                                                                                    <option value="25">Court Order Maintenance</option>
                                                                                    <option value="14">Disability Living Allowance</option>
                                                                                    <option value="15">Foster Parent Income</option>
                                                                                    <option value="16">Housing Benefit</option>
                                                                                    <option value="17">Incapacity Benefit</option>
                                                                                    <option value="18">Pension Credit</option>
                                                                                    <option value="19">Severe Disability Allowance</option>
                                                                                    <option value="20">Statutory Maternity Pay</option>
                                                                                    <option value="21">Statutory Paternity Pay</option>
                                                                                    <option value="22">Statutory Sick Pay</option>
                                                                                    <option value="27">Widow Benefit</option>
                                                                                    <option value="23">Working Family Tax Credits</option>
                                                                                </select>
                                                                            </span>
                                                                        </div>
                                                                        <!-- help text -->
                                                                        <div class="helptip icon-sprite speech" id="">
                                                                            <h5>Help</h5>
                                                                        </div>
                                                                        <!-- help text end -->
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <div class="form-group question" id=""  data-title="Amount (£) "  ng-class="{ 'has-error' : editbenefits1.Amount.$invalid && !editbenefits1.Amount.$pristine }">
                                                                        <label   >Amount (£)  </label>
                                                                        <div >
                                                                            <span class="checkboxes pound">
                                                                                <input type="text" numbers-only class="form-control"  ng-model="benefits1.benefit_amt" name="amount" required>
                                                                            </span>
                                                                        </div>
                                                                        <!-- help text -->
                                                                        <div class="helptip icon-sprite speech" id="">
                                                                            <h5>Help</h5>
                                                                        </div>
                                                                        <!-- help text end -->
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <div class="pull-right">
                                                                        <button type="submit" class="blue-btn5"  ng-click="editbenefits1.$valid && update_empbenefits(benefits1, parentIndex)">update </button>
                                                                        <button class="blue-btn5 " type="button"   ng-click="deleteBenefits($parent.$index,$index)" tooltip="Delete">
                                                                            <i class="glyphicon glyphicon-trash"></i>
                                                                        </button>
                                                                        <div></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- initial benfits with yes or no-->
                                    <div ng-show="applicant.emploment.benefitsdata.length == 1">
                                        <div  class="form-group question col-sm-12" id="t31"  data-title="Do you have any benefits? " >
                                            <label   >Do you have any benefits?</label>
                                            <div >
                                                <span ng-init="applicant.do_you_have_benefits = '0'" class="checkboxes nohelp">
                                                    <input type="radio" ng-model="applicant.do_you_have_benefits" value="1" ng-change="change()"  > Yes 


                                                    <input type="radio" ng-model="applicant.do_you_have_benefits" value="0" ng-change="change()"  > No 


                                                </span>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div ng-show="applicant.do_you_have_benefits == '1'">
                                            <div ng-include="app / views / benefits_add.html"></div>
                                            <form class="form-horizontal" name="addbenefits1" >
                                                <div class="col-sm-12">addbenefits


                                                    <div class="form-group">
                                                        <span class="step-heading step-heading-small">Benefits</span>
                                                    </div>
                                                </div>
                                                <div id="benefits">
                                                    <div class="col-sm-6">
                                                        <div class="form-group question" id=""  data-title="Benefit ">
                                                            <label   >Benefit </label>
                                                            <div >
                                                                <span class="checkboxes">
                                                                    <select class="form-control" ng-model="benifits.benifit" name="benifits.benefit" required>
                                                                        <option value="">Please Select</option>
                                                                        <option value="26">Child Benefit</option>
                                                                        <option value="13">Child Tax Credit</option>
                                                                        <option value="25">Court Order Maintenance</option>
                                                                        <option value="14">Disability Living Allowance</option>
                                                                        <option value="15">Foster Parent Income</option>
                                                                        <option value="16">Housing Benefit</option>
                                                                        <option value="17">Incapacity Benefit</option>
                                                                        <option value="18">Pension Credit</option>
                                                                        <option value="19">Severe Disability Allowance</option>
                                                                        <option value="20">Statutory Maternity Pay</option>
                                                                        <option value="21">Statutory Paternity Pay</option>
                                                                        <option value="22">Statutory Sick Pay</option>
                                                                        <option value="27">Widow Benefit</option>
                                                                        <option value="23">Working Family Tax Credits</option>
                                                                    </select>
                                                                </span>
                                                            </div>
                                                            <!-- help text -->
                                                            <div class="helptip icon-sprite speech" id="">
                                                                <h5>Help</h5>
                                                            </div>
                                                            <!-- help text end -->
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group question" id=""  data-title="Amount (£) ">
                                                            <label   >Amount (£)  </label>
                                                            <div >
                                                                <span class="checkboxes pound">
                                                                    <input type="text" class="form-control"  ng-model="benifits.benefit_amt" name="Amount" required numbers-only>
                                                                </span>
                                                            </div>
                                                            <!-- help text -->
                                                            <div class="helptip icon-sprite speech" id="">
                                                                <h5>Help</h5>
                                                            </div>
                                                            <!-- help text end -->
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="pull-right">
                                                            <button type="submit" class="blue-btn5" ng-click="addbenefits(benifits, $index)" >Save</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <!-- inital benefits with yes or no ques end -->
                                    <div ng-show="applicant.emploment.benifits.length > 0">
                                        <span class="checkboxes">
                                            <div class="pull-right">
                                                <button ng-click="addMoreBenefits()" class="blue-btn5">Add More Benefits</button>
                                            </div>
                                        </span>
                                        <div class="clearfix"></div>
                                        <div ng-show="showbenefitsone1">
                                           
                                                <form class="form-horizontal" name="addbenefits1">
                                                    <div class="form-group" style="margin-top:10px;">
                                                        <span class="step-heading step-heading-small">Benefits</span>
                                                    </div>
                                                    <div id="benefits">
                                                        <div class="col-sm-6">
                                                            <div class="form-group question" id=""  data-title="Benefit " ng-class="{ 'has-error' : addbenefits1.applicant.emploment.benifits.benifit.$invalid && !addbenefits1.applicant.emploment.benifits.benifit.$pristine }">
                                                                <label   >Benefit </label>
                                                                <div >
                                                                    <span class="checkboxes">
                                                                        <select class="form-control"  ng-model="benifits.benefit" name="applicant.emploment.benifits.benefit" required>
                                                                            <option value="">Please Select</option>
                                                                            <option value="26">Child Benefit</option>
                                                                            <option value="13">Child Tax Credit</option>
                                                                            <option value="25">Court Order Maintenance</option>
                                                                            <option value="14">Disability Living Allowance</option>
                                                                            <option value="15">Foster Parent Income</option>
                                                                            <option value="16">Housing Benefit</option>
                                                                            <option value="17">Incapacity Benefit</option>
                                                                            <option value="18">Pension Credit</option>
                                                                            <option value="19">Severe Disability Allowance</option>
                                                                            <option value="20">Statutory Maternity Pay</option>
                                                                            <option value="21">Statutory Paternity Pay</option>
                                                                            <option value="22">Statutory Sick Pay</option>
                                                                            <option value="27">Widow Benefit</option>
                                                                            <option value="23">Working Family Tax Credits</option>
                                                                        </select>
                                                                    </span>
                                                                </div>
                                                                <div class="helptip icon-sprite speech" id="">
                                                                    <h5>Help</h5>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-group question" id=""  data-title="Amount (£) "  ng-class="{ 'has-error' : addbenefits1.Amount.$invalid && !addbenefits1.Amount.$pristine }">
                                                                <label   >Amount (£)  </label>
                                                                <div >
                                                                    <span class="checkboxes pound">
                                                                        <input type="number" class="form-control" ng-model="benifits.benefit_amt" name="Amount" required>
                                                                    </span>
                                                                </div>
                                                                <div class="helptip icon-sprite speech" id="">
                                                                    <h5>Help</h5>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="pull-right">
                                                                <button type="submit" class="blue-btn5"  ng-click="save_Benefits(applicant.emploment.benifits,benifits)">Save</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                           
                                        </div>
                                        <!--<div ng-switch="showbenefitsone1"><div ng-switch-when="false"><div class="form-group"><div class="pull-right"><input type="button" value="&lt; BACK" ng-click="addincomepanel1($index)" class="whi-btn2"><button class="blue-btn5" type="button" ng-click="move_to_next_tab(employment,$index)"> save</button></div></div></div></div>-->
                                    </div>
                                    <div class="form-group">
                                        <div class="pull-right" ng-show="applicant.do_you_have_benefits == '0'">
                                            <input type="button" value="&lt; BACK" class="whi-btn2">
                                            <button class="blue-btn5" type="button" ng-click="addbenefits(applicant.emploment.benifits, $index)"> Save</button>
                                        </div>
                                    </div>
                                    <!-- </div>-->
                                </div>
                                <!--</div>-->
                            </div>
                        </div>

                    </div>

                </div>
            </section>
        </section>
    </div>
</div>